* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

#chart-container,
#message-container {
  width: 100%;
  height: 100%;
  position: absolute;
}

.center-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}
