<div id="content">
    <div id="loader" *ngIf="apiStatus.isLoading()">
        <mat-spinner diameter="60"></mat-spinner>
    </div>
    <div class="container" *ngIf="apiStatus.isCompleted()">
        <div *ngIf="alertManager.areAlertsAvailable()" id="alerts" class="row">
            <app-alert *ngFor="let alert of alertManager.getAlerts()" [alert]="alert" (closed)="removeAlert($event)">
            </app-alert>
        </div>
        <div class="row" id="news" *ngIf="apiStatus.isSuccess()">
            <div class="row news-items" *ngFor="let pair of newsItems | group: 2">
                <div class="col-lg-6" *ngFor="let newsItem of pair">
                    <div class="card">
                        <div class="card-body">
                            <div class="container">
                                <div class="row news-item">
                                    <div class="col-md-4">
                                        <div class="row"
                                            [ngStyle]="{'background-image': 'url(' + newsItem.urlToImage + ')'}"></div>
                                    </div>
                                    <div class="col-md-8">{{ newsItem.title }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>