@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

#loader {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-container {
  padding-top: 40px;
}

#header {
  font-size: 40px;
  line-height: 40px;
  padding-bottom: 40px;
}

#alerts {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.card {
  margin-bottom: 20px;
}

.card-title,
.card-subtitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-title {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 30px;
}

.card-subtitle {
  font-size: 20px;
  line-height: 20px;
}

.card-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}

.card-header > div:first-child {
  font-size: 30px;
}

.card-header > div:nth-child(2) {
  margin-left: 10px;
  font-size: 20px;
  color: #687380;
}

.card-header:hover {
  cursor: pointer;
}

.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.card .container {
  font-size: 20px;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 10px;
}

.col-md .row {
  padding-left: 15px;
  padding-right: 15px;
}

.card-footer > button:last-child {
  margin-left: 15px;
}
