@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#nav {
  flex: 0 0 auto;
  background-color: $purple;
}

#content {
  flex: 1 1 auto;
}

.nav-link {
  font-size: 14px;
  border: 2px solid $purple;
  border-radius: 15px;
  color: white;
}

@include media-breakpoint-up(sm) {
  $nav-height: 57px;

  .nav-link {
    margin-right: 5px;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  #footer {
    flex: 0 0 $nav-height;
    min-height: $nav-height;
  }
}

@include media-breakpoint-down(sm) {
  $nav-height: 56px;

  .nav-link {
    padding-right: 10px;
    width: 100%;
  }

  li:nth-of-type(1) {
    margin-top: 5px;
  }

  #footer {
    flex: 0 0 $nav-height;
    min-height: $nav-height;
  }
}

#footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
}

.active-link {
  border-color: white;
}
