<div id="app">
  <div id="nav">
    <nav class="navbar navbar-expand-sm navbar-dark justify-content-between purple-background">
      <a class="navbar-brand" routerLink="{{ searchLink.path }}" (click)="closeNavbar(searchLink.id)">Stock Search</a>
      <button class="navbar-toggler" type="button" (click)="toggleNavbar()" data-target="#navbar-toggled">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbar-toggled" [ngbCollapse]="isNavbarCollapsed">
        <ul ngbNav #nav="ngbNav" [(activeId)]="activeLink" class="navbar-nav ml-auto text-right">
          <li class="nav-item" [ngbNavItem]="link.id" *ngFor="let link of links">
            <a ngbNavLink class="nav-link navbar-brand" [class.active-link]="activeLink === link.id"
              routerLink="{{ link.path }}" (click)="closeNavbar(link.id)">{{ link.title }}</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div id="content">
    <router-outlet></router-outlet>
  </div>
  <div id="footer">
    Powered by Tiingo. Developed by Rochak Gupta.
  </div>
</div>