@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

.container {
  padding: 30px;
}

#loader {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#alerts {
  display: flex;
  flex-direction: column;
}

#historical-chart {
  height: 100%;
}

highcharts-chart {
  display: block;
  width: 100%;
  height: 500px;
}
