<div class="container">
    <div class="row" id="loader" *ngIf="apiStatus.isLoading()">
        <mat-spinner diameter="60"></mat-spinner>
    </div>
    <div class="row" *ngIf="apiStatus.isCompleted()">
        <div class="col">
            <div *ngIf="alertManager.areAlertsAvailable()" id="alerts" class="row">
                <app-alert *ngFor="let alert of alertManager.getAlerts()" [alert]="alert"
                    (closed)="removeAlert($event)">
                </app-alert>
            </div>
            <div class="row" id="historical-chart" *ngIf="apiStatus.isSuccess()">
                <highcharts-chart [Highcharts]="Highcharts" [constructorType]="chartConstructor"
                    [options]="chartOptions">
                </highcharts-chart>
            </div>
        </div>
    </div>
</div>