<div id="content">
    <div id="loader" *ngIf="apiStatus.isLoading()">
        <mat-spinner diameter="60"></mat-spinner>
    </div>
    <div class="container" *ngIf="apiStatus.isCompleted()" id="main-container">
        <div *ngIf="alertManager.areAlertsAvailable()" id="alerts" class="row">
            <app-alert *ngFor="let alert of alertManager.getAlerts()" [alert]="alert" (closed)="removeAlert($event)">
            </app-alert>
        </div>
        <div class="row" id="details" *ngIf="apiStatus.isSuccess()">
            <div>
                <div class="text-left">
                    {{ details.ticker }}
                    <i *ngIf="isWatchlisted()" class="fa fa-star" (click)="removeFromWatchlist()"></i>
                    <i *ngIf="!isWatchlisted()" class="fa fa-star-o" (click)="addToWatchlist(ticker)"></i>
                </div>
                <div class="text-right" [class.text-success]="details.change > 0"
                    [class.text-danger]="details.change < 0">
                    {{ details.lastPrice }}
                </div>
            </div>
            <div>
                <div class="text-left">
                    {{ details.name }}
                </div>
                <div class="text-right" [class.text-success]="details.change > 0"
                    [class.text-danger]="details.change < 0">
                    <i *ngIf="details.change > 0" class="fa fa-caret-up"></i>
                    <i *ngIf="details.change < 0" class="fa fa-caret-down"></i>
                    {{ details.change }}
                    ({{ details.changePercent}}%)
                </div>
            </div>
            <div>
                <div class="text-left">
                    {{ details.exchangeCode }}
                </div>
                <div class="text-right">
                    {{ details.currentTimestamp }}
                </div>
            </div>
            <div class="text-left">
                <button type="button" class="btn btn-success btn-lg" (click)="openModal()">Buy</button>
            </div>
            <div *ngIf="details.isMarketOpen">
                <span id="market-open">Market is Open</span>
            </div>
            <div *ngIf="!details.isMarketOpen">
                <span id="market-closed">Market Closed on {{ details.lastTimestamp}}</span>
            </div>
            <div>
                <mat-tab-group mat-stretch-tabs mat-align-tabs="center">
                    <mat-tab label="Summary">
                        <div class="container" id="summary">
                            <div class="row">
                                <div class="col-lg" id="summary-details">
                                    <div class="row justify-content-around" id="summary-prices">
                                        <div class="col-6 col-sm-auto">
                                            <div class="row">
                                                <table class="table table-borderless table-sm">
                                                    <tbody>
                                                        <tr>
                                                            <td>High Price:</td>
                                                            <td>{{ details.highPrice }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Low Price:</td>
                                                            <td>{{ details.lowPrice }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Open Price:</td>
                                                            <td>{{ details.openPrice }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Prev. Close:</td>
                                                            <td>{{ details.prevClose }}</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Volume:</td>
                                                            <td>{{ details.volume }}</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                        <div class="col-6 col-sm-auto">
                                            <div class="row">
                                                <table class="table table-borderless table-sm">
                                                    <table class="table table-borderless table-sm"
                                                        *ngIf="details.isMarketOpen">
                                                        <tbody>
                                                            <tr>
                                                                <td>Mid Price:</td>
                                                                <td>{{ details.midPrice }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Ask Price:</td>
                                                                <td>{{ details.askPrice }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Ask Size:</td>
                                                                <td>{{ details.askSize }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Bid Price:</td>
                                                                <td>{{ details.bidPrice }}</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Bid Size:</td>
                                                                <td>{{ details.bidSize }}</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id="summary-description">
                                        <div class="col">
                                            <div class="row">Company's Description</div>
                                            <div class="row">Start Date: {{ details.startDate }}</div>
                                            <div class="row">{{ details.description }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg" id="summary-chart">
                                    <app-summary-chart [items]="summaryChartItems" [ticker]="ticker"
                                        [change]="details.change">
                                    </app-summary-chart>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab label="Top News">
                        <app-news [ticker]="ticker"></app-news>
                    </mat-tab>
                    <mat-tab label="Charts">
                        <ng-template matTabContent>
                            <app-historical-chart [apiStatus]="historicalChartApiStatus"
                                [alertManager]="historicalChartAlertManager" [chartOptions]="historicalChartOptions">
                            </app-historical-chart>
                        </ng-template>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>